PORT=3000
HOST=127.0.0.1
NODE_ENV=development
APP_NAME=CatalogosYa Backend
APP_URL=http://localhost:3000
CORS_ORIGIN=*

DB_HOST=localhost
DB_PORT=1433
DB_NAME=CatalogosYa
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
DB_LOGGING=false

JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
